<a href="https://colab.research.google.com/github/SShreya22/wind_turbine/blob/main/Wind_Turbine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
!pip install python-dotenv
from google.colab import userdata
import os
#import pandas as pd

#os.environ["KAGGLE_KEY"] ="b87a7e7c9200003c849318af61908a0b"
#os.environ["KAGGLE_USERNAME"] ="sshreya22"
#!kaggle datasets download -d gauravduttakiit/wind-turbine-power-generation-forecasting
#! unzip "wind-turbine-power-generation-forecasting.zip"

from google.colab import drive
import os
from dotenv import load_dotenv

# Mount Google Drive
drive.mount('/content/drive')

# Load environment variables from .env
env_path = "/content/drive/MyDrive/Colab Notebooks/.env"
load_dotenv(env_path)

# Set Kaggle credentials
os.environ["KAGGLE_USERNAME"] = os.getenv("KAGGLE_USERNAME")
os.environ["KAGGLE_KEY"] = os.getenv("KAGGLE_KEY")

print("✅ Kaggle credentials loaded successfully!")

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.11/dist-packages (1.0.1)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
✅ Kaggle credentials loaded successfully!

In [25]:
df = pd.read_csv("/content/wind_turbine/Dataset/Test.csv")

In [26]:
df.head(10)

,Unnamed: 0,Time,Location,Temp_2m,RelHum_2m,DP_2m,WS_10m,WS_100m,WD_10m,WD_100m,WG_10m
0,35040,01/01/17 0:00,1,19.6796,89.664205,17.072595,1.085389,0.867799,192.051683,233.057315,1.636515
1,35041,01/01/17 1:00,1,19.1796,90.664205,16.672595,1.665389,1.907799,183.051683,197.057315,2.736515
2,35042,01/01/17 2:00,1,19.5796,88.664205,16.672595,1.845389,2.867799,162.051683,167.057315,2.736515
3,35043,01/01/17 3:00,1,20.3796,85.664205,16.572595,2.325389,3.987799,166.051683,161.057315,2.936515
4,35044,01/01/17 4:00,1,21.0796,82.664205,16.572595,2.265389,4.047799,182.051683,170.057315,3.136515
5,35045,01/01/17 5:00,1,21.2796,83.664205,16.972595,2.265389,3.937799,176.051683,172.057315,2.736515
6,35046,01/01/17 6:00,1,18.8796,89.664205,16.172595,2.565389,3.577799,134.051683,161.057315,3.536515
7,35047,01/01/17 7:00,1,21.5796,87.664205,18.272595,2.385389,3.767799,81.051683,114.057315,3.436515
8,35048,01/01/17 8:00,1,25.0796,80.664205,19.972595,3.105389,5.497799,79.051683,99.057315,4.736515
9,35049,01/01/17 9:00,1,30.2796,73.664205,22.672595,3.485389,6.297799,105.051683,107.057315,5.936515

In [27]:
#pattern = r'(\d{2}/\d{2}/\d{2})\s(\d{1,2}:\d{2})'      #pattern is a regular expression (regex) which is used to separate date and time from the column time. (\d{2}=2 digits,\s=space,\d{1,2}=1 or 2 digits)
#df[['Date', 'Hour']] = df['Time'].str.extract(pattern) #creating 2 new columns to store date and time separately, from the existing 'time' column and extracting the date and time from pattern.
#print(df.head(10))

In [28]:
#df=df.drop(columns=['Time']) #dropping the column time

In [29]:
print(df.shape)

(35040, 11)

In [30]:
data=df.to_string()
print(len(data))

4660452

In [31]:
df.isnull().sum()

Unnamed: 0    0
Time          0
Location      0
Temp_2m       0
RelHum_2m     0
DP_2m         0
WS_10m        0
WS_100m       0
WD_10m        0
WD_100m       0
WG_10m        0
dtype: int64

In [32]:
print(df.isnull().values.any())

False

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numerical_columns = ['Temp_2m', 'RelHum_2m', 'DP_2m', 'WS_10m', 'WS_100m', 'WD_10m', 'WD_100m', 'WG_10m']
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [34]:
print(df.tail(5))

       Unnamed: 0            Time  Location   Temp_2m  RelHum_2m     DP_2m  \
35035       43795  31/12/17 19:00         4  0.406542   0.928571  0.521296
35036       43796  31/12/17 20:00         4  0.404984   0.904762  0.513889
35037       43797  31/12/17 21:00         4  0.401869   0.880952  0.507407
35038       43798  31/12/17 22:00         4  0.401869   0.869048  0.503704
35039       43799  31/12/17 23:00         4  0.401869   0.857143  0.500926

         WS_10m   WS_100m    WD_10m   WD_100m    WG_10m
35035  0.260898  0.288478  0.008357  0.022222  0.268293
35036  0.305791  0.326297  0.000000  0.013889  0.257840
35037  0.299935  0.328496  0.008357  0.022222  0.257840
35038  0.299284  0.322779  0.002786  0.016667  0.254355
35039  0.302537  0.337291  0.022284  0.033333  0.254355

In [35]:
print(df.head(10))

   Unnamed: 0           Time  Location   Temp_2m  RelHum_2m     DP_2m  \
0       35040  01/01/17 0:00         1  0.362928   0.880952  0.461111
1       35041  01/01/17 1:00         1  0.359034   0.892857  0.457407
2       35042  01/01/17 2:00         1  0.362150   0.869048  0.457407
3       35043  01/01/17 3:00         1  0.368380   0.833333  0.456481
4       35044  01/01/17 4:00         1  0.373832   0.797619  0.456481
5       35045  01/01/17 5:00         1  0.375389   0.809524  0.460185
6       35046  01/01/17 6:00         1  0.356698   0.880952  0.452778
7       35047  01/01/17 7:00         1  0.377726   0.857143  0.472222
8       35048  01/01/17 8:00         1  0.404984   0.773810  0.487963
9       35049  01/01/17 9:00         1  0.445483   0.690476  0.512963

     WS_10m   WS_100m    WD_10m   WD_100m    WG_10m
0  0.059857  0.033421  0.534819  0.650000  0.041812
1  0.097593  0.079156  0.509749  0.550000  0.080139
2  0.109304  0.121372  0.451253  0.466667  0.080139
3  0.140534  0.170624  0.462396  0.450000  0.087108
4  0.136630  0.173263  0.506964  0.475000  0.094077
5  0.136630  0.168426  0.490251  0.480556  0.080139
6  0.156148  0.152595  0.373259  0.450000  0.108014
7  0.144437  0.160950  0.225627  0.319444  0.104530
8  0.191282  0.237027  0.220056  0.277778  0.149826
9  0.216005  0.272208  0.292479  0.300000  0.191638

In [36]:
df=df.drop(['Unnamed: 0'], axis=1)

In [44]:
df.head(7)

,Time,Location,Temp_2m,RelHum_2m,DP_2m,WS_10m,WS_100m,WD_10m,WD_100m,WG_10m
0,01/01/17 0:00,1,0.362928,0.880952,0.461111,0.059857,0.033421,0.534819,0.650000,0.041812
1,01/01/17 1:00,1,0.359034,0.892857,0.457407,0.097593,0.079156,0.509749,0.550000,0.080139
2,01/01/17 2:00,1,0.362150,0.869048,0.457407,0.109304,0.121372,0.451253,0.466667,0.080139
3,01/01/17 3:00,1,0.368380,0.833333,0.456481,0.140534,0.170624,0.462396,0.450000,0.087108
4,01/01/17 4:00,1,0.373832,0.797619,0.456481,0.136630,0.173263,0.506964,0.475000,0.094077
5,01/01/17 5:00,1,0.375389,0.809524,0.460185,0.136630,0.168426,0.490251,0.480556,0.080139
6,01/01/17 6:00,1,0.356698,0.880952,0.452778,0.156148,0.152595,0.373259,0.450000,0.108014

In [57]:
!git remote -v
!ssh-keygen -t rsa -b 4096 -C "shreya.s.22052005@gmail.com" -f ~/.ssh/id_rsa -N ""
!cat ~/.ssh/id_rsa.pub

origin	git@github.com:SShreya22/wind_turbine.git (fetch)
origin	git@github.com:SShreya22/wind_turbine.git (push)
Generating public/private rsa key pair.
/root/.ssh/id_rsa already exists.
Overwrite (y/n)? y
Your identification has been saved in /root/.ssh/id_rsa
Your public key has been saved in /root/.ssh/id_rsa.pub
The key fingerprint is:
SHA256:Lp/lIvaajQt2Rxp5ic2lhEcFo+vx6VCZzmXPbnSVTC4 shreya.s.22052005@gmail.com
The key's randomart image is:
+---[RSA 4096]----+
|        +o.      |
|       + .     . |
|      o o .   + .|
|       O *   E +.|
|      * S o   .. |
|     . % + o. .  |
|    o * B ..o.   |
|   . ooX.+ ..    |
|     .==*....    |
+----[SHA256]-----+
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDeja5VxhgWtvxrj7OT2gWcvrwvnvusCjn/XAZRvZGRl2PqlOS5UVkUlAy11+gA4XQ95EOrM8dmRENxF5p0y0e3zY3biQL1u6nuPEMwp7LPogv553drlyRUk+soLPfRac4h9bgKdhuz3MmozHLQt3rC/H7pTEBtP7CgxxCrX+RPEis1NP7P1dUFdteb5tbSkOd6sqvK6RE/B8INKcLi92fYMCxbtFpWN98lNZqYWgHTXPiGEAe49Fsftjpkcp9E5GqERYM2/V9zM8HXikIj1VFf9YTdf9nV2QZ5g8p1EdbNzjyXsXTi/71kDaH2+XkzenMzpNqeuisViAFFfkAkE7LhmKyWg2tyTMxijyzXYYtHcLybtovPzgtmktXOyJ3mBROpFelR+2aD+2Zqs42/JIPlSHy5C6qEoxvRZ6dVbSfxSPKSn/izwokaXbK+UajNQ4DxK6kmY55/93ylWd14vWPyq0FlE+n2nCWdWRvLIIMbGgYkbIrBsO0UP0BsGQXFd+ntPHXKmCYiEtcW8HPFrjWAx9caoHLtJgs0GbEjf8WGsogCLyWSCxx55U9RxZXqm2nLIffPOjAl9C0zaYhO3BYU3f1Fk8TFNLeoMQOvowLmaV/Z89GdQGYDvL/QktQioAXraAKECoSozMhh52FbC3hewj/oryRj5evFNbT9Y//sUw== shreya.s.22052005@gmail.com

In [60]:
!git remote set-url origin git@github.com:YourGitHubUsername/YourRepoName.git
!ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

# github.com:22 SSH-2.0-48ecf9ce5

In [61]:
!ssh -T git@github.com

Hi SShreya22! You've successfully authenticated, but GitHub does not provide shell access.

In [62]:
!git add . && git commit -m "Updated project" && git push origin main

On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

In [69]:
print("commit git")

commit git