In [ ]:
from google.colab import userdata
import os
import pandas as pd

os.environ["KAGGLE_KEY"] ="b87a7e7c9200003c849318af61908a0b"
os.environ["KAGGLE_USERNAME"] ="sshreya22"
!kaggle datasets download -d gauravduttakiit/wind-turbine-power-generation-forecasting
! unzip "wind-turbine-power-generation-forecasting.zip"

Dataset URL: https://www.kaggle.com/datasets/gauravduttakiit/wind-turbine-power-generation-forecasting
License(s): CC0-1.0
Downloading wind-turbine-power-generation-forecasting.zip to /content/wind_turbine
 86% 10.0M/11.7M [00:00<00:00, 47.6MB/s]
100% 11.7M/11.7M [00:00<00:00, 42.9MB/s]
Archive:  wind-turbine-power-generation-forecasting.zip
  inflating: Dataset/Submission.csv
  inflating: Dataset/Test.csv
  inflating: Dataset/Train.xlsx

In [8]:
df = pd.read_csv("/content/wind_turbine/Dataset/Test.csv")

In [9]:
df.head(10)

,Unnamed: 0,Time,Location,Temp_2m,RelHum_2m,DP_2m,WS_10m,WS_100m,WD_10m,WD_100m,WG_10m
0,35040,01/01/17 0:00,1,19.6796,89.664205,17.072595,1.085389,0.867799,192.051683,233.057315,1.636515
1,35041,01/01/17 1:00,1,19.1796,90.664205,16.672595,1.665389,1.907799,183.051683,197.057315,2.736515
2,35042,01/01/17 2:00,1,19.5796,88.664205,16.672595,1.845389,2.867799,162.051683,167.057315,2.736515
3,35043,01/01/17 3:00,1,20.3796,85.664205,16.572595,2.325389,3.987799,166.051683,161.057315,2.936515
4,35044,01/01/17 4:00,1,21.0796,82.664205,16.572595,2.265389,4.047799,182.051683,170.057315,3.136515
5,35045,01/01/17 5:00,1,21.2796,83.664205,16.972595,2.265389,3.937799,176.051683,172.057315,2.736515
6,35046,01/01/17 6:00,1,18.8796,89.664205,16.172595,2.565389,3.577799,134.051683,161.057315,3.536515
7,35047,01/01/17 7:00,1,21.5796,87.664205,18.272595,2.385389,3.767799,81.051683,114.057315,3.436515
8,35048,01/01/17 8:00,1,25.0796,80.664205,19.972595,3.105389,5.497799,79.051683,99.057315,4.736515
9,35049,01/01/17 9:00,1,30.2796,73.664205,22.672595,3.485389,6.297799,105.051683,107.057315,5.936515

In [10]:
#pattern = r'(\d{2}/\d{2}/\d{2})\s(\d{1,2}:\d{2})'      #pattern is a regular expression (regex) which is used to separate date and time from the column time. (\d{2}=2 digits,\s=space,\d{1,2}=1 or 2 digits)
#df[['Date', 'Hour']] = df['Time'].str.extract(pattern) #creating 2 new columns to store date and time separately, from the existing 'time' column and extracting the date and time from pattern.
#print(df.head(10))

In [11]:
#df=df.drop(columns=['Time']) #dropping the column time

In [12]:
print(df.shape)

(35040, 11)

In [13]:
data=df.to_string()
print(len(data))

4660452

In [14]:
df.isnull().sum()

Unnamed: 0    0
Time          0
Location      0
Temp_2m       0
RelHum_2m     0
DP_2m         0
WS_10m        0
WS_100m       0
WD_10m        0
WD_100m       0
WG_10m        0
dtype: int64

In [15]:
print(df.isnull().values.any())

False

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numerical_columns = ['Temp_2m', 'RelHum_2m', 'DP_2m', 'WS_10m', 'WS_100m', 'WD_10m', 'WD_100m', 'WG_10m']
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [17]:
print(df.tail(5))

       Unnamed: 0            Time  Location   Temp_2m  RelHum_2m     DP_2m  \
35035       43795  31/12/17 19:00         4  0.406542   0.928571  0.521296
35036       43796  31/12/17 20:00         4  0.404984   0.904762  0.513889
35037       43797  31/12/17 21:00         4  0.401869   0.880952  0.507407
35038       43798  31/12/17 22:00         4  0.401869   0.869048  0.503704
35039       43799  31/12/17 23:00         4  0.401869   0.857143  0.500926

         WS_10m   WS_100m    WD_10m   WD_100m    WG_10m
35035  0.260898  0.288478  0.008357  0.022222  0.268293
35036  0.305791  0.326297  0.000000  0.013889  0.257840
35037  0.299935  0.328496  0.008357  0.022222  0.257840
35038  0.299284  0.322779  0.002786  0.016667  0.254355
35039  0.302537  0.337291  0.022284  0.033333  0.254355

In [18]:
print(df.head(10))

   Unnamed: 0           Time  Location   Temp_2m  RelHum_2m     DP_2m  \
0       35040  01/01/17 0:00         1  0.362928   0.880952  0.461111
1       35041  01/01/17 1:00         1  0.359034   0.892857  0.457407
2       35042  01/01/17 2:00         1  0.362150   0.869048  0.457407
3       35043  01/01/17 3:00         1  0.368380   0.833333  0.456481
4       35044  01/01/17 4:00         1  0.373832   0.797619  0.456481
5       35045  01/01/17 5:00         1  0.375389   0.809524  0.460185
6       35046  01/01/17 6:00         1  0.356698   0.880952  0.452778
7       35047  01/01/17 7:00         1  0.377726   0.857143  0.472222
8       35048  01/01/17 8:00         1  0.404984   0.773810  0.487963
9       35049  01/01/17 9:00         1  0.445483   0.690476  0.512963

     WS_10m   WS_100m    WD_10m   WD_100m    WG_10m
0  0.059857  0.033421  0.534819  0.650000  0.041812
1  0.097593  0.079156  0.509749  0.550000  0.080139
2  0.109304  0.121372  0.451253  0.466667  0.080139
3  0.140534  0.170624  0.462396  0.450000  0.087108
4  0.136630  0.173263  0.506964  0.475000  0.094077
5  0.136630  0.168426  0.490251  0.480556  0.080139
6  0.156148  0.152595  0.373259  0.450000  0.108014
7  0.144437  0.160950  0.225627  0.319444  0.104530
8  0.191282  0.237027  0.220056  0.277778  0.149826
9  0.216005  0.272208  0.292479  0.300000  0.191638

In [19]:
df=df.drop(['Unnamed: 0'], axis=1)